{{> header}}
{{> navbar}}
    <div class="row">
        <div class="col-8">
            <h1>Test about</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quae repellendus ullam eveniet. Doloremque suscipit possimus ipsum repellendus a incidunt fuga delectus harum? Distinctio, unde facere? Unde saepe est quae.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/img.jpg" class="img-thumbnail">
        </div>
    </div>
{{> footer}}